USE [Золотарев6пр]
GO
/****** Object:  Database [Золотарев6пр]    Script Date: 16.05.2023 14:44:23 ******/
CREATE DATABASE [Золотарев6пр]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Золотарев6пр', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Золотарев6пр.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Золотарев6пр_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Золотарев6пр_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Золотарев6пр].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Золотарев6пр]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 16.05.2023 14:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Номер заказа] [int] NOT NULL,
	[Код заказа] [nvarchar](50) NOT NULL,
	[Код сотрудника] [int] NULL,
	[Дата создания] [date] NOT NULL,
	[Время заказа] [time](7) NULL,
	[Код клиента] [int] NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[Дата закрытия] [date] NULL,
	[Время проката] [nvarchar](50) NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Номер заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 16.05.2023 14:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Код клиента] [int] NOT NULL,
	[ФИО] [nvarchar](50) NOT NULL,
	[Паспортные данные] [nvarchar](50) NOT NULL,
	[Дата рождения] [date] NOT NULL,
	[Адрес] [nvarchar](80) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Код клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 16.05.2023 14:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код сотрудника] [int] NOT NULL,
	[Должность] [nvarchar](50) NOT NULL,
	[ФИО] [nvarchar](50) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[Последний вход] [datetime] NULL,
	[Тип входа] [nvarchar](50) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Список услуг]    Script Date: 16.05.2023 14:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Список услуг](
	[ID] [int] NOT NULL,
	[Номер заказа] [int] NOT NULL,
	[Код услуги] [int] NOT NULL,
 CONSTRAINT [PK_Список услуг] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 16.05.2023 14:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[Код услуги] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Шифр] [nvarchar](50) NOT NULL,
	[Стоимость руб час] [money] NOT NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[Код услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([Номер заказа], [Код заказа], [Код сотрудника], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката]) VALUES (1, N'45462526/12.03.2022', NULL, CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, N'Новая', NULL, N'120 минут')
INSERT [dbo].[Заказы] ([Номер заказа], [Код заказа], [Код сотрудника], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката]) VALUES (2, N'45462527/13.03.2022', NULL, CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, N'В прокате', NULL, N'600 минут')
INSERT [dbo].[Заказы] ([Номер заказа], [Код заказа], [Код сотрудника], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката]) VALUES (3, N'45462528/14.03.2022', NULL, CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, N'В прокате', NULL, N'120 минут')
GO
INSERT [dbo].[Клиенты] ([Код клиента], [ФИО], [Паспортные данные], [Дата рождения], [Адрес], [email], [password]) VALUES (45462526, N'Фролов Андрей Иванович', N'Серия 1180 Номер 176596', CAST(N'2001-07-14' AS Date), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([Код клиента], [ФИО], [Паспортные данные], [Дата рождения], [Адрес], [email], [password]) VALUES (45462527, N'Николаев Даниил Всеволодович', N'Серия 2280 Номер 223523', CAST(N'2001-02-10' AS Date), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([Код клиента], [ФИО], [Паспортные данные], [Дата рождения], [Адрес], [email], [password]) VALUES (45462528, N'Снегирев Макар Иванович', N'Серия 4560 Номер 354155', CAST(N'1998-05-21' AS Date), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Последний вход], [Тип входа]) VALUES (101, N'Продавец', N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Последний вход], [Тип входа]) VALUES (102, N'Продавец', N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Последний вход], [Тип входа]) VALUES (103, N'Администратор', N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
GO
INSERT [dbo].[Список услуг] ([ID], [Номер заказа], [Код услуги]) VALUES (1, 1, 34)
INSERT [dbo].[Список услуг] ([ID], [Номер заказа], [Код услуги]) VALUES (2, 1, 31)
INSERT [dbo].[Список услуг] ([ID], [Номер заказа], [Код услуги]) VALUES (3, 1, 353)
GO
INSERT [dbo].[Услуги] ([Код услуги], [Наименование], [Шифр], [Стоимость руб час]) VALUES (31, N'Прокат опорного оборудования для катка', N'JUR8R', 500.0000)
INSERT [dbo].[Услуги] ([Код услуги], [Наименование], [Шифр], [Стоимость руб час]) VALUES (34, N'Обучение катанию на коньках', N'JKFBJ09', 1000.0000)
INSERT [dbo].[Услуги] ([Код услуги], [Наименование], [Шифр], [Стоимость руб час]) VALUES (44, N'Прокат салазок', N'DHBGFY563', 450.0000)
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Клиенты] FOREIGN KEY([Код клиента])
REFERENCES [dbo].[Клиенты] ([Код клиента])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Клиенты]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Сотрудники] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код сотрудника])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Сотрудники]
GO
ALTER TABLE [dbo].[Список услуг]  WITH CHECK ADD  CONSTRAINT [FK_Список услуг_Заказы] FOREIGN KEY([Номер заказа])
REFERENCES [dbo].[Заказы] ([Номер заказа])
GO
ALTER TABLE [dbo].[Список услуг] CHECK CONSTRAINT [FK_Список услуг_Заказы]
GO
ALTER TABLE [dbo].[Список услуг]  WITH CHECK ADD  CONSTRAINT [FK_Список услуг_Услуги] FOREIGN KEY([Код услуги])
REFERENCES [dbo].[Услуги] ([Код услуги])
GO
ALTER TABLE [dbo].[Список услуг] CHECK CONSTRAINT [FK_Список услуг_Услуги]
GO
USE [Золотарев6пр]
GO
